* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  font-family: 'Roboto';
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background: #1B1928;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 16px 36px;
  font-weight: bold;
  font-size: 15px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
  transition: 0.3s;
  background: linear-gradient(180deg, #13BD71 0%, #14A363 100%);
  border-radius: 5px;
  position: relative;
  min-height: 50px;
  max-height: 50px;
}

.btn:hover {
  background: linear-gradient(180deg, rgba(19, 189, 113, 0.5) 0%, rgba(20, 163, 99, 0.5) 100%);
}

.btn.btn-small-head {
  padding: 10px 25px;
  min-height: 39px;
  max-height: 39px;
}

.btn.btn-yellow {
  background: linear-gradient(180deg, #F7CF38 0%, #F3B212 100%);
}

.btn.btn-yellow:hover {
  background: linear-gradient(180deg, rgba(247, 207, 56, 0.5) 0%, rgba(243, 178, 18, 0.5) 100%);
}

.btn.btn-pink {
  background: linear-gradient(180deg, #EA01B1 0%, #EF014E 100%);
}

.btn.btn-pink:hover {
  background: linear-gradient(180deg, rgba(234, 1, 177, 0.5) 0%, rgba(239, 1, 78, 0.5) 100%);
}

.btn.btn-blue {
  background: linear-gradient(180deg, #129CFA 0%, #0B4BFE 100%), linear-gradient(180deg, #F7CF38 0%, #F3B212 100%);
}

.btn.btn-blue:hover {
  background: linear-gradient(180deg, rgba(18, 156, 250, 0.5) 0%, rgba(11, 75, 254, 0.5) 100%);
}

.multi-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
}

.color-black {
  color: #0E0E0E;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 137%;
  text-align: center;
  margin-bottom: 70px;
  color: #f7cf38;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
  margin-bottom: 20px;
}

h3 {
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
  margin-bottom: 30px;
}

h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #ECECEC;
  margin-bottom: 30px;
}

ul, ol {
  width: 100%;
  list-style: none;
  margin-bottom: 50px;
}

ul.center li, ol.center li {
  text-align: center;
}

ul li, ol li {
  width: 95%;
  position: relative;
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #ECECEC;
  margin-bottom: 30px;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

ul li::before, ol li::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -20px;
  top: 10px;
  background: linear-gradient(180deg, #13BD71 0%, #14A363 100%);
  border-radius: 50%;
}

ol {
  list-style: decimal;
}

ol li::before {
  display: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 440;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu a {
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  color: #FFFAED;
  position: relative;
  padding: 40px 20px;
  transition: 0.3s;
}

.header-menu a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.header-menu a.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a.active::before {
  content: "";
  width: 100%;
  max-width: 71px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  border: 1px solid #FFFAED;
}

.header-menu-m {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 18px;
}

.header-menu-m.active {
  justify-content: center;
}

.header-menu-m.active span:nth-child(1) {
  transform: rotate(45deg) translateX(1px);
}

.header-menu-m.active span:nth-child(2) {
  display: none;
}

.header-menu-m.active span:nth-child(3) {
  transform: rotate(-45deg) translateX(1px);
}

.header-menu-m span {
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  transition: 0.3s;
}

.section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/section.png") center no-repeat;
  background-size: cover;
}

.section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section .container .title {
  margin-bottom: 70px;
  width: 100%;
  max-width: 730px;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #f7cf38;
  text-transform: uppercase;
}

.section .container .box {
  width: 100%;
  max-width: 730px;
  background: #ECECEC;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 85px;
  padding: 50px;
}

.section .container .box span {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #0E0E0E;
}

.section .container .box p {
  margin-bottom: 33px;
  font-weight: normal;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #0E0E0E;
}

.section .container .row-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.section .container .row-items .item {
  width: 100%;
  max-width: 255px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 23px;
}

.section .container .row-items .item .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.section .container .row-items .item .top p {
  font-weight: bold;
  font-size: 25px;
  line-height: 100%;
  color: #ECECEC;
}

.section .container .row-items .item .top p.fz22 {
  font-size: 22px;
}

.section .container .row-items .item span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 214%;
  color: #D5BCD9;
}

.section .part-left {
  width: 100%;
  max-width: 110px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  left: 0;
  top: 20%;
  justify-content: center;
  align-items: center;
  padding: 20px 22px;
}

.section .part-left a {
  width: 100%;
  margin-bottom: 27px;
}

.section .part-left a:last-child {
  margin-bottom: 0;
}

.partners {
  width: 100%;
  padding: 58px 0;
  background: #2B273F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners .container .swiper-container {
  width: 100%;
}

.partners .container .swiper-container .swiper-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.partners .container .swiper-container .swiper-wrapper .swiper-slide a {
  width: 100%;
}

.partners .container .swiper-container .swiper-wrapper .swiper-slide a .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  padding: 80px 0;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .container .multi-title {
  margin-bottom: 20px;
}

.about .container .box-vis-descp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .container .box-vis-descp p {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #ECECEC;
  margin-bottom: 30px;
}

.about .container .box-vis-descp p.left {
  text-align: left;
}

.slots {
  width: 100%;
  padding: 80px 0;
}

.slots .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slots-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}

.slots-row .item {
  margin-bottom: 30px;
  width: 100%;
  max-width: 255px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  border-radius: 15px;
  overflow: hidden;
  min-height: 170px;
}

.slots-row .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(27, 25, 40, 0), #1b1928);
  opacity: 0;
}

.slots-row .item:hover::before {
  opacity: 1;
}

.slots-row .item:hover .btn-small, .slots-row .item:hover .demo {
  opacity: 1;
  pointer-events: visible;
}

.slots-row .item .demo {
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  position: relative;
  z-index: 2;
}

.slots-row .item .btn-small {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/slots/play.svg") center no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.slots-row .item .btn-small img {
  width: 100%;
  height: 100%;
}

.slots-row .item .demo {
  color: #fff;
  margin-top: 16px;
}

.slots-row .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.bonus {
  width: 100%;
  padding: 80px 0;
}

.bonus .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bonus-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 100px;
}

.bonus-row .item {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 40px 0;
  min-height: 460px;
}

.bonus-row .item:nth-child(1) {
  background: linear-gradient(150.04deg, #385FF9 0%, #2108C1 100%);
}

.bonus-row .item:nth-child(2) {
  background: linear-gradient(150.04deg, #793A8D 0%, #6D3EC3 47.4%, #A424B5 100%);
}

.bonus-row .item:nth-child(3) {
  background: url("../img/b-bg.png") center no-repeat;
  background-size: cover;
}

.bonus-row .item:nth-child(3) .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -130px;
}

.bonus-row .item:nth-child(3) .center span {
  font-size: 15px;
}

.bonus-row .item:nth-child(3) .center .price {
  font-size: 60px;
}

.bonus-row .item:nth-child(3) .center .btn {
  color: #0E0E0E;
  text-transform: uppercase;
  background: #C2FF0D;
  border-radius: 100px;
}

.bonus-row .item .title {
  font-weight: normal;
  font-size: 15px;
  line-height: 133%;
  text-align: center;
  color: #ECECEC;
}

.bonus-row .item .center span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ECECEC;
}

.bonus-row .item .center .price {
  font-weight: 900;
  font-size: 100px;
  line-height: 108%;
  margin-bottom: 10px;
  line-height: 108%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
}

.bonus-row .item .center p {
  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
}

.bonus-row .item .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 133%;
  color: #ECECEC;
}

.bonus-row .item .bottom img {
  margin-right: 14px;
}

.jackpot {
  width: 100%;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.jackpot::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  background: url("../img/jackpot-bg.png") center no-repeat;
  background-size: cover;
}

.jackpot .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jackpot .container span {
  display: block;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ECECEC;
}

.jackpot .container p {
  margin-bottom: 84px;
  font-weight: 900;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #f7cf38;
}

.faq {
  width: 100%;
  padding: 80px 0;
}

.faq-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq-column .item {
  width: 100%;
  margin-bottom: 20px;
}

.faq-column .item.active .item-title .img {
  transform: rotate(180deg);
}

.faq-column .item.active .item-content {
  display: block;
}

.faq-column .item-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background: #2B273F;
  border-radius: 10px;
  cursor: pointer;
}

.faq-column .item-title span {
  width: 85%;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #ECECEC;
}

.faq-column .item-title .img {
  width: 22px;
  height: 11px;
  background: url("../img/border.svg") center no-repeat;
  transition: 0.3s;
}

.faq-column .item-content {
  padding: 20px 50px;
  font-weight: normal;
  font-size: 13px;
  line-height: 231%;
  color: #ECECEC;
  display: none;
}

.footer {
  width: 100%;
  min-height: auto;
  padding: 78px 0;
  padding-top: 0;
  padding-bottom: 180px;
}

.footer-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

.footer-row__item {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-row__item:first-child {
  margin-bottom: 150px;
}

.footer-row__item:last-child {
  margin-bottom: 0;
}

.footer-row__item:nth-child(2) {
  width: 30%;
}

.footer-row__item:nth-child(3) {
  width: 65%;
}

.footer-row__item span {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #FFFAED;
}

.footer-row__item ul {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-row__item ul li {
  width: auto !important;
  margin-bottom: 13px;
  margin-right: 25px;
  line-height: 100%;
  left: 0;
}

.footer-row__item ul li::before {
  display: none;
}

.footer-row__item ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 157%;
  color: #ECECEC;
  transition: 0.3s;
}

.footer-row__item ul li a:hover {
  color: #13bd71;
}

.footer-row__item .row-img {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  opacity: 0.8;
}

.footer-row__item .row-img a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-row__item .row-img a img {
  width: 80%;
}

.footer-row__item .cooopy {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.footer-row__item .cooopy img {
  margin-right: 34px;
}

.footer-row__item p {
  font-weight: normal;
  font-size: 12px;
  line-height: 175%;
  color: #FFFAED;
}

.modal-menu {
  display: none;
  opacity: 0;
}

.slots-percent {
  width: 100%;
  padding: 80px 0;
}

.slots-percent-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.slots-percent-row .item {
  width: 100%;
  max-width: 445px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slots-percent-row .item .top {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid rgba(236, 236, 236, 0.1);
  padding-bottom: 20px;
}

.slots-percent-row .item .top span {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
}

.slots-percent-row .item .top span.green {
  color: #13bd71;
}

.slots-percent-row .item .top span.yellow {
  color: #f7cf38;
}

.slots-percent-row .item .top span.pink {
  color: #ea01b1;
}

.slots-percent-row .item .top span.blue {
  color: #129cfa;
}

.slots-percent-row .item .top p {
  font-weight: 900;
  font-size: 100px;
  line-height: 108%;
  text-transform: uppercase;
  color: #ECECEC;
}

.slots-percent-row .item .top img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.slots-percent-row .item .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slots-percent-row .item .bottom span {
  display: block;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ECECEC;
}

.slots-percent-row .item .bottom .btn {
  min-height: 50px;
  padding: 16px 36px;
}

.slots-column {
  width: 100%;
}

.slots-column-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slots-column-items .item {
  padding: 30px 0;
  position: relative;
  width: 100%;
  border-top: 2px solid rgba(236, 236, 236, 0.1);
  border-bottom: 2px solid rgba(236, 236, 236, 0.1);
  margin-bottom: 150px;
}

.slots-column-items .item .text {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.slots-column-items .item .text span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ECECEC;
}

.slots-column-items .item .text p {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 214%;
  color: #ECECEC;
}

.slots-column-items .item .img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.slots-column-items .item .img img {
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .modal-menu {
    opacity: 0;
    width: 100%;
    height: 330px;
    position: fixed;
    left: 0;
    top: -120%;
    z-index: 100;
    background: #000000;
    padding: 40px 15px;
    transition: 0.3s;
    display: block;
  }
  .modal-menu.active {
    opacity: 1;
    top: 80px;
  }
  .modal-menu-close {
    position: absolute;
    right: 15px;
    top: 30px;
  }
  .modal-menu .header-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .modal-menu .header-menu a {
    width: 100%;
    margin-bottom: 40px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    padding: 0 !important;
    color: #FFFFFF;
  }
  .multi-title {
    font-size: 20px;
    line-height: 160%;
  }
  .btn {
    min-height: 41px;
    max-height: 41px;
    font-size: 12.1875px;
    padding: 13px 29px;
  }
  .btn.btn-small-head {
    padding: 7.5px 21px;
    min-height: 30px;
    max-height: 30px;
  }
  h1 {
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 160%;
  }
  h3 {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 200%;
  }
  ul li, ol li {
    font-size: 12px;
    line-height: 200%;
  }
  ul li::before, ol li::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: -20px;
    top: 7px;
  }
  .header {
    min-height: 80px;
  }
  .header .container .btn {
    margin-right: -40px;
  }
  .header-logo {
    width: 100%;
    max-width: 82px;
  }
  .header-logo img {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .header-menu-m {
    display: flex;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 80px;
  }
  .section .container .title {
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 130%;
  }
  .section .container .box {
    padding: 30px 15px;
    margin-bottom: 30px;
  }
  .section .container .box span {
    font-size: 20px;
    line-height: 160%;
  }
  .section .container .box p {
    margin-bottom: 25px;
    font-size: 11px;
    line-height: 200%;
  }
  .section .container .row-items {
    flex-wrap: wrap;
  }
  .section .container .row-items .item {
    max-width: 158px;
    margin-bottom: 30px;
    padding: 15px;
  }
  .section .container .row-items .item:nth-child(1) .top img {
    width: 25px;
  }
  .section .container .row-items .item:nth-child(2) .top img {
    width: 25px;
  }
  .section .container .row-items .item:nth-child(3) .top img {
    width: 25px;
  }
  .section .container .row-items .item:nth-child(3) .top img:nth-child(1) {
    width: 85px;
  }
  .section .container .row-items .item:nth-child(4) .top img {
    width: 35px;
  }
  .section .container .row-items .item .top {
    margin-bottom: 10px;
  }
  .section .container .row-items .item .top p {
    font-size: 15.4902px;
    line-height: 100%;
  }
  .section .container .row-items .item .top p.fz22 {
    font-size: 13.6314px;
  }
  .section .container .row-items .item span {
    font-size: 8.67451px;
  }
  .section .part-left {
    display: none;
  }
  .partners {
    overflow: hidden;
    padding: 39px 0;
  }
  .partners .container .swiper-container {
    overflow: visible;
  }
  .about {
    padding: 50px 0;
  }
  .about .container .box-vis-descp p {
    font-size: 12px;
    line-height: 200%;
  }
  .slots {
    padding: 50px 0;
  }
  .slots-row .item {
    max-width: 47%;
    min-height: 105px;
  }
  .slots-row .item .btn-small {
    width: 45px;
    height: 45px;
  }
  .slots-row .item .demo {
    font-size: 14px;
    margin-top: 10px;
  }
  .bonus {
    padding: 50px 0;
  }
  .bonus-row {
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .bonus-row .item {
    margin-bottom: 30px;
  }
  .bonus-row .item .center .price {
    font-size: 70px;
  }
  .jackpot {
    min-height: 350px;
  }
  .jackpot::before {
    background: url("../img/jackpot-bg-m.png") center no-repeat;
    background-size: cover;
  }
  .jackpot .container span {
    display: none;
  }
  .jackpot .container p {
    font-size: 45px;
    line-height: 169%;
    margin-bottom: 50px;
    margin-top: 60px;
  }
  .faq {
    padding: 50px 0;
  }
  .faq-column .item-title {
    padding: 30px 20px;
  }
  .faq-column .item-title span {
    font-size: 15px;
    line-height: 167%;
  }
  .faq-column .item-content {
    font-size: 12px;
    line-height: 208%;
    padding: 20px;
  }
  .footer {
    padding: 50px 0;
    min-height: 100%;
    padding-top: 0;
  }
  .footer-row {
    padding: 0;
  }
  .footer-row__item {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 70px !important;
  }
  .footer-row__item:nth-child(3) .cooopy {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-row__item:nth-child(3) .cooopy img {
    margin-bottom: 39px;
  }
  .footer-row__item.lg {
    display: block;
    margin-bottom: 0;
  }
  .footer-row__item.lg .img {
    width: 65px;
    height: 67px;
  }
  .footer-row__item.lg .img img {
    width: 100%;
    height: 100%;
  }
  .footer-row__item .row-img {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-row__item .row-img:nth-child(2) {
    margin-top: 0;
  }
  .footer-row__item .row-img a {
    margin-bottom: 25px;
  }
  .footer-row__item .row-img a img {
    width: 80%;
  }
  .slots-percent {
    padding: 50px 0;
  }
  .slots-percent-row .item {
    margin-bottom: 100px;
  }
  .slots-percent-row .item .top {
    padding-bottom: 15px;
    margin-bottom: 32px;
  }
  .slots-percent-row .item .top span {
    font-size: 19.4382px;
    line-height: 140%;
  }
  .slots-percent-row .item .top p {
    font-size: 77.7528px;
    line-height: 109%;
  }
  .slots-percent-row .item .top img {
    width: 80%;
  }
  .slots-percent-row .item .bottom span {
    font-size: 19.4382px;
    line-height: 140%;
  }
  .slots-percent-row .item .bottom .btn {
    padding: 12px 27px;
    min-height: 39px;
    max-height: 39px;
  }
  .slots-column-items .item {
    margin-bottom: 100px;
    padding: 0;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .slots-column-items .item .text span {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 177%;
  }
  .slots-column-items .item .text p {
    font-size: 12px;
    line-height: 200%;
  }
  .slots-column-items .item .img {
    position: relative;
    right: unset;
    top: unset;
    width: 100%;
    order: -1;
    margin-bottom: 24px;
  }
  .slots-column-items .item .img img {
    width: 100%;
  }
}
