
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'Roboto';
}
a {
    color: #000;
    text-decoration: none;
}

body {
    background: #1B1928;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    padding: 16px 36px;
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ECECEC;
    transition: 0.3s;
    background: linear-gradient(180deg, #13BD71 0%, #14A363 100%);
    border-radius: 5px;
    position: relative;
    min-height: 50px;
    max-height: 50px;
    &:hover {
        background: linear-gradient(180deg, rgba(19, 189, 113, 0.5) 0%, rgba(20, 163, 99, 0.5) 100%);
    }
    &.btn-small-head {
        padding: 10px 25px;
        min-height: 39px;
        max-height: 39px;
    }
    &.btn-yellow {
        background: linear-gradient(180deg, #F7CF38 0%, #F3B212 100%);
        &:hover {
            background: linear-gradient(180deg, rgba(247, 207, 56, 0.5) 0%, rgba(243, 178, 18, 0.5) 100%);
        }
    }
    &.btn-pink {
        background: linear-gradient(180deg, #EA01B1 0%, #EF014E 100%);
        &:hover {
            background: linear-gradient(180deg, rgba(234, 1, 177, 0.5) 0%, rgba(239, 1, 78, 0.5) 100%);
        }
    }
    &.btn-blue {
        background: linear-gradient(180deg, #129CFA 0%, #0B4BFE 100%), linear-gradient(180deg, #F7CF38 0%, #F3B212 100%);
        &:hover {
            background: linear-gradient(180deg, rgba(18, 156, 250, 0.5) 0%, rgba(11, 75, 254, 0.5) 100%);
        }
    }
}

.multi-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ECECEC;
}

.color-black {
    color: #0E0E0E;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 137%;
    text-align: center;
    margin-bottom: 70px;
    color: rgba(247, 207, 56, 1);
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ECECEC;
    margin-bottom: 20px;
  
}
h3{
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #ECECEC;
    margin-bottom: 30px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #ECECEC;
    margin-bottom: 30px;
}
ul, ol {
    width: 100%;
    list-style: none;
    margin-bottom: 50px;
    &.center {
        li {
            text-align: center;
        }
        
    }
    li {
        width: 95%;
        position: relative;
        left: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: #ECECEC;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            left: -20px;
            top: 10px;
            background: linear-gradient(180deg, #13BD71 0%, #14A363 100%);
            border-radius: 50%;
        }
    }
}
ol {
    list-style: decimal;
    li {
        &::before {
            display: none;
        }
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 440;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header-menu {
    display: flex;
    align-items: center;
    a {
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        color: #FFFAED;
        position: relative;
        padding: 40px 20px;
        transition: 0.3s;
        &:hover {
            background: rgba(255, 255, 255,.1);
        }
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                width: 100%;
                max-width: 71px;
                height: 0px;
                position: absolute;
                bottom: 0px;
                border: 1px solid #FFFAED;
            }
        }
    }
}
.header-menu-m {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30px;
    height: 18px;
    &.active {
        justify-content: center;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateX(1px);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateX(1px);
            }
        }
    }
    span {
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
        transition: 0.3s;
    }
}

.section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/section.png") center no-repeat;
        background-size: cover;

    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            margin-bottom: 70px;
            width: 100%;
            max-width: 730px;
            font-weight: 900;
            font-size: 40px;
            line-height: 55px;
            text-align: center;
            color: rgba(247, 207, 56, 1);
            text-transform: uppercase;
        }
        .box {
            width: 100%;
            max-width: 730px;
            background: #ECECEC;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 85px;
            padding: 50px;
            span {
                display: block;
                margin-bottom: 20px;
                width: 100%;
                font-weight: bold;
                font-size: 25px;
                line-height: 140%;
                text-align: center;
                text-transform: uppercase;
                color: #0E0E0E;
            }
            p {
                margin-bottom: 33px;
                font-weight: normal;
                font-size: 14px;
                line-height: 214%;
                text-align: center;
                color: #0E0E0E;
            }
        }
        .row-items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .item {
                width: 100%;
                max-width: 255px;
                background: rgba(255, 255, 255,.2);
                border-radius: 20px;
                padding: 23px;
                .top {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    p {
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 100%;
                        color: #ECECEC;
                        &.fz22 {
                            font-size: 22px;
                        }
                    }
                    
                }
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 214%;
                    color: #D5BCD9;
                }
            }
        }
      
    }
    .part-left {
        width: 100%;
        max-width: 110px;
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255,.2);
        border-radius: 0px 20px 20px 0px;
        position: absolute;
        left: 0;
        top: 20%;
        justify-content: center;
        align-items: center;
        padding: 20px 22px;
        a {
            width: 100%;
            margin-bottom: 27px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.partners {
    width: 100%;
    padding: 58px 0;
    background: #2B273F;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .swiper-container {
            width: 100%;
            .swiper-wrapper {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .swiper-slide {
                    a {
                        width: 100%;
                        .img {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                        }
                    }
                }
            }
        }
    }
}

.about {
    width: 100%;
    padding: 80px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .multi-title {
            margin-bottom: 20px;
        }
        .box-vis-descp {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                width: 100%;
                font-weight: normal;
                font-size: 14px;
                line-height: 214%;
                text-align: center;
                color: #ECECEC;
                margin-bottom: 30px;
                &.left {
                    text-align: left;
                }
            }
            .btn {
                
            }
        }
    }
}

.slots {
    width: 100%;
    padding: 80px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.slots-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    .item {
        margin-bottom: 30px;
        width: 100%;
        max-width: 255px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s;
        border-radius: 15px;
        overflow: hidden;
        min-height: 170px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(rgba(27, 25, 40, 0), rgba(27, 25, 40, 1));
            opacity: 0;
        }
        &:hover {
            &::before {
                opacity: 1;
            }
            .btn-small, .demo {
                opacity: 1;
                pointer-events: visible;
            }
        }
        .demo {
            opacity: 0;
            pointer-events: none;
            transition: .3s;
            position: relative;
            z-index: 2;
        }
        .btn-small {
            width: 58px;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/slots/play.svg") center no-repeat;
            background-size: 100% 100%;
            opacity: 0;
            pointer-events: none;
            backdrop-filter: blur(10px);
            img {
                width: 100%;
                height: 100%;
            }
        }
        .demo {
            color: #fff;
            margin-top: 16px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
    }
}

.bonus {
    width: 100%;
    padding: 80px 0;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
}
.bonus-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 100px;
    .item {
        width: 100%;
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-direction: column;
        border-radius: 15px;
        padding: 40px 0;
        min-height: 460px;
        &:nth-child(1) {
            background: linear-gradient(150.04deg, #385FF9 0%, #2108C1 100%);
        }
        &:nth-child(2) {
            background: linear-gradient(150.04deg, #793A8D 0%, #6D3EC3 47.4%, #A424B5 100%);
        }
        &:nth-child(3) {
            background: url("../img/b-bg.png") center no-repeat;
            background-size: cover;
            .center {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: -130px;
                span {
                    font-size: 15px;
                }
                .price {
                    font-size: 60px;
                }
                .btn {
                    color: #0E0E0E;
                    text-transform: uppercase;
                    background: #C2FF0D;
                    border-radius: 100px;
                }
            }
        }
        .title {
            font-weight: normal;
            font-size: 15px;
            line-height: 133%;
            text-align: center;
            color: #ECECEC;  
        }
        .center {
            span {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 15px;
                line-height: 120%;
                text-transform: uppercase;
                color: #ECECEC;
            }
            .price {
                font-weight: 900;
                font-size: 100px;
                line-height: 108%;
                margin-bottom: 10px;
                line-height: 108%;
                text-align: center;
                text-transform: uppercase;
                color: #ECECEC;
            }
            p {
                font-weight: bold;
                font-size: 15px;
                line-height: 120%;
                text-align: center;
                text-transform: uppercase;
                color: #ECECEC; 
            }
        }
        .bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height:133%;
            color: #ECECEC;
            img {
                margin-right: 14px;
                
            }
        }
    }
}

.jackpot {
    width: 100%;
    min-height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: url("../img/jackpot-bg.png") center no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            display: block;
            margin-bottom: 80px;
            font-weight: bold;
            font-size: 25px;
            line-height: 140%;
            text-align: center;
            text-transform: uppercase;
            color: #ECECEC;
        }
        p {
            margin-bottom: 84px;
            font-weight: 900;
            font-size: 90px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: rgba(247, 207, 56, 1);
        }
    }
}

.faq {
    width: 100%;
    padding: 80px 0;
    .container {

    }
}
.faq-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .item {
        width: 100%;
        margin-bottom: 20px;
        &.active {
            .item-title {
                .img {
                    transform: rotate(180deg);
                }
            }
            .item-content {
                display: block;
            }
        }
        &-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 50px;
            background: #2B273F;
            border-radius: 10px;
            cursor: pointer;
            span {
                width: 85%;
                display: block;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                color: #ECECEC;
            }
            .img {
                width: 22px;
                height: 11px;
                background: url("../img/border.svg") center no-repeat;
                transition: 0.3s;
            }
        }
        &-content {
            padding: 20px 50px;
            font-weight: normal;
            font-size: 13px;
            line-height: 231%;
            color: #ECECEC;
            display: none;
        }
    }
}

.footer {
    width: 100%;
    min-height: auto;
    padding: 78px 0;
    padding-top: 0;
    padding-bottom: 180px;
}
.footer-row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
    &__item {
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        &:first-child {
            margin-bottom: 150px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            width: 65%;
        }

        span {
            display: block;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #FFFAED;
        }
        ul {
            width: 100%;
            max-width: 320px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
          
            li {
                width: auto !important;
                margin-bottom: 13px;
                margin-right: 25px;
                line-height: 100%;
                left: 0;
                &::before {
                 
                    display: none ;
                }
                a {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 157%;
                    color:#ECECEC;
                    transition: 0.3s;
                    &:hover {
                        color: rgba(19, 189, 113, 1);
                    }
                }
            }
        }

        .row-img {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;
            opacity: 0.8;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 80%;
                }
            }
        }
        .cooopy {
            width: 100%;
            display: flex;
            align-items: flex-start;
            img {
                margin-right: 34px;
            }
        }
        p {
            font-weight: normal;
            font-size: 12px;
            line-height: 175%;
            color: #FFFAED;
        }
    }
}

.modal-menu {
    display: none;
    opacity: 0;
}

.slots-percent {
    width: 100%;
    padding: 80px 0;

}
.slots-percent-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .item {
        width: 100%;
        max-width: 445px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .top {
            margin-bottom: 40px;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-bottom: 2px solid rgba(236, 236, 236,.1);
            padding-bottom: 20px;
            span {
                display: block;
                width: 100%;
                font-weight: bold;
                font-size: 25px;
                line-height: 140%;
                text-transform: uppercase;
                &.green {
                    color: rgba(19, 189, 113, 1);
                }
                &.yellow {
                    color: rgba(247, 207, 56, 1);
                }
                &.pink {
                    color: rgba(234, 1, 177, 1);
                }
                &.blue {
                    color: rgba(18, 156, 250, 1);
                }
            }
            p {
                font-weight: 900;
                font-size: 100px;
                line-height: 108%;
                text-transform: uppercase;
                color: #ECECEC;
            }
            img {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: block;
                font-weight: bold;
                font-size: 25px;
                line-height: 140%;
                text-transform: uppercase;
                color: #ECECEC;
            }
            .btn {
                min-height: 50px;
                padding: 16px 36px;
            }
        }
    }
}

.slots-column {
    width: 100%;
    .container {

    }
}
.slots-column-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .item {
        padding: 30px 0;
        position: relative;
        width: 100%;
        border-top: 2px solid rgba(236, 236, 236,.1);
        border-bottom: 2px solid rgba(236, 236, 236,.1);
        margin-bottom: 150px;
        .text {
            width: 100%;
            max-width: 500px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            span {
                display: block;
                margin-bottom: 15px;
                font-weight: bold;
                font-size: 25px;
                line-height: 140%;
                text-transform: uppercase;
                color: #ECECEC;
            }
            p {
                margin-bottom: 30px;
                font-weight: normal;
                font-size: 14px;
                line-height: 214%;
                color: #ECECEC;
                
            }
        }
        .img {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            z-index: -1;
            img {
                height: 100%;
            }

        }
    }
}

@media screen and (max-width:1000px) {

    .modal-menu {
        opacity: 0;
        width: 100%;
        height: 330px;
        position: fixed;
        left: 0;
        top: -120%;
        z-index: 100;
        background: #000000;
        padding: 40px 15px;
        transition: 0.3s;
        display: block;
        &.active {
            opacity: 1;
            top: 80px;
        }
        &-close {
            position: absolute;
            right: 15px;
            top: 30px;

        }
        .header-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 40%;
            a {
                width: 100%;
                margin-bottom: 40px !important;
                font-weight: 500 !important;
                font-size: 16px !important;
                line-height: 100% !important;
                padding: 0 !important;
                color: #FFFFFF;
            }
        }
    }

    .multi-title {
        font-size: 20px;
        line-height: 160%;
    }
    
    .btn {
        min-height: 41px;
        max-height: 41px;
        font-size: 12.1875px;
        padding: 13px 29px;
        &.btn-small-head {
            padding: 7.5px 21px;
            min-height: 30px;
            max-height: 30px;
        }
    }

    h1 {
        font-size: 25px;
        line-height: 130%;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 20px;
        line-height: 160%;
    }
    h3 {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 200%;
    }
    ul, ol {

        li {
            font-size: 12px;
            line-height: 200%;
            &::before {
                content: "";
                width: 8px;
                height: 8px;
                position: absolute;
                left: -20px;
                top: 7px;
                
            }
        }
    }

    .header {
        min-height: 80px;
        .container {
            .btn {
                margin-right: -40px;
            }
        }
    }
    .header-logo {
        width: 100%;
        max-width: 82px;
        img {
            width: 100%;
        }
    }
    .header-menu {
        display: none;
    }
    .header-menu-m {
        display: flex;
    }

    .section {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 80px;
        .container {
            .title {
                margin-bottom: 30px;
                font-size: 25px;
                line-height: 130%;
            }
            .box {
                padding: 30px 15px;
                margin-bottom: 30px;
                span {
                    font-size: 20px;
                    line-height: 160%;
                }
                p {
                    margin-bottom: 25px;
                    font-size: 11px;
                    line-height: 200%;
                }
            }
            .row-items {
                flex-wrap: wrap;
                .item {
                    max-width: 158px;
                    margin-bottom: 30px;
                    padding: 15px;
                    &:nth-child(1) {
                        .top {
                            img {
                                width: 25px;
                            }
                        }
                    }
                    &:nth-child(2) {
                        .top {
                            img {
                                width: 25px;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .top {
                            img {
                                width: 25px;
                                &:nth-child(1) {
                                    width: 85px;
                                }
                            }
                            
                        }
                    }
                    &:nth-child(4) {
                        .top {
                            img {
                                width: 35px;
                            }
                        }
                    }
                    .top {
                        margin-bottom: 10px;
                        p {
                            font-size: 15.4902px;
                            line-height: 100%;
                            &.fz22 {
                                font-size: 13.6314px;
                            }
                        }
                        
                    }
                    span {
                        font-size: 8.67451px;
                    }
                }
            }
        }
        .part-left {
            display: none;
        }
    }

    .partners {
        overflow: hidden;
        padding: 39px 0;
        .container {
            .swiper-container {
                overflow: visible;
            }
        }
    }

    .about {
        padding: 50px 0;
        .container {
            .box-vis-descp {
                p {
                    font-size: 12px;
                    line-height: 200%;
                }
            }
        }
    }

    .slots {
        padding: 50px 0;
    }
    .slots-row {
        .item {
            max-width: 47%;
            min-height: 105px;
            .btn-small {
                width: 45px;
                height: 45px;
            }
            .demo {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }

    .bonus {
        padding: 50px 0;
    }
    .bonus-row {
        flex-wrap: wrap;
        margin-top: 60px;
        .item {
            margin-bottom: 30px;
            .center {
                .price {
                    font-size: 70px;
                }
            }
        }
    }

    .jackpot {
        min-height: 350px;
        &::before {
            background: url("../img/jackpot-bg-m.png") center no-repeat;
            background-size: cover;
        }
        .container {
            span {
                display: none;
            }
            p {
                font-size: 45px;
                line-height: 169%;
                margin-bottom: 50px;
                margin-top: 60px;
            }
        }
    }

    .faq {
        padding: 50px 0;
    }
    .faq-column {
        .item {
            &-title {
                padding: 30px 20px;
                span {
               
                    font-size: 15px;
                    line-height: 167%;
                }
            }
            &-content {
                font-size: 12px;
                line-height: 208%;
                padding: 20px;
            }
        }
    }

    .footer {
        padding: 50px 0;
        min-height: 100%;
        padding-top: 0;
    }
    .footer-row {
        padding: 0;
        &__item {
            width: 100% !important; 
            max-width: 100% !important;
            margin-bottom: 70px !important;
            &:nth-child(3) {
                .cooopy {
                    flex-direction: column;
                    align-items: flex-start;
                    img {
                        margin-bottom: 39px;
                    }
                }
               
            }

            &.lg {
                display: block;
                margin-bottom: 0;
                .img {
                    width: 65px ;
                    height: 67px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .row-img {
                flex-wrap: wrap;
                justify-content: flex-start;
                &:nth-child(2) {
                    margin-top: 0;
                }
                a {
                    margin-bottom: 25px;
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    .slots-percent {
        padding: 50px 0;
    }
    .slots-percent-row {
        .item {
            margin-bottom: 100px;
            .top {
                padding-bottom: 15px;
                margin-bottom: 32px;
                span {
                    font-size: 19.4382px;
                    line-height: 140%;
                }
                p {
                    font-size: 77.7528px;
                    line-height: 109%;
                }
                img {
                    width: 80%;
                }
            }
            .bottom {
                span {
                    font-size: 19.4382px;
                    line-height: 140%;
                }
                .btn {
                    padding: 12px 27px;
                    min-height: 39px;
                    max-height: 39px;
                }
            }
        }
    }

    .slots-column-items {
        
        .item {
            margin-bottom: 100px;
            padding: 0;
            border-bottom: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .text {
                span {
                    margin-bottom: 15px;
                    font-size: 20px;
                    line-height: 177%;
                }
                p {
                    font-size: 12px;
                    line-height: 200%;    
                    
                }
            }
            .img {
                position: relative;
                right: unset;
                top: unset;
                width: 100%;
                order: -1;
                margin-bottom: 24px;
                img {
                    width: 100%;
                }
            }
        }
       
    }

}